#black-overlay {
    background:#000;
    width: 400px;
    height: 820px;
    z-index: 500;
    opacity: 70%;
    position: relative;
    bottom: 690px
}

#white-overlay {
    width: 235px;
    height: 375px;
    background: #fff;
    margin: auto;
    position: relative;
    bottom: 1300px;
    z-index: 501;
    border-radius: 35px;
}

#closeWhite {
    width: 17.5px;
    height: 17.5px;
    background: #B8B8B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    font-size: 10px;
    font-family: "Montserrat";
    font-weight: 800;
    position: relative;
    left: 190px;
    bottom: -20px;
    z-index: 500px;
}

#closeWhite:hover {
    background: #000;
    color: #fff;
    cursor: pointer;
}